table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: auto;
}

.key-form {
  width: 100%;
}

.key-full-width {
  width: 50%;
  margin: 20px;
}

.form-btn{
  margin: 10px;
}
